*{
    margin-right: -350;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190vh;
    background:"bg6.jpg";
}
.wrapper{
    margin:-100px auto;
    width: 1300;
}
img{
    max-width: 320px ;
    float: left;
    border: 3px solid white;
    border-radius: 10 px;
    margin-right: 20px;
}
.text-box{
    color:rgb(0, 0, 0);
    max-width: 300;
}
.text-box h2 {
    font-size: 42px;
}
.text-box p {
font-size: 16px;
}